.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #B87333;
    color: black;
    text-align: center;
    opacity: 0.95;
    padding: 1rem;
    border: #8B0000 solid 1px;
    border-radius: 1rem;
}

.body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    background-color: #F5E1C8;
    border: #8B0000 solid 5px;
    border-radius: 10px;
    color: black;
    padding: 30px;
    height: auto;
    overflow: hidden;
}