.container {
    background-color: #b87333 !important;
    width: 100% !important;
    max-width: 100% !important;
    height: auto;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-left: #8b0000 1px solid;
    border-right: #8b0000 1px solid;
    border-top: #8b0000 1px solid;
    margin: 0 !important;
    padding: 1rem !important;
    justify-content: center !important;
    align-items: center !important;
  }
  
  .body {
    display: block;
    justify-content: center;
    align-items: center;
    width: 100% !important;
    max-width: 100% !important;
    margin: 0 !important;
    padding: 16px !important;
    box-sizing: border-box !important;
    overflow-x: hidden !important;
    background-color: #f5e1c8;
    border: #8b0000 solid 5px;
    border-radius: 10px;
    color: black;
    text-align: center;
    height: auto;
  }

  .error{
    color: red !important;
    margin-top: 10px;
  }
  
  @media (max-width: 768px) {
    .body {
      width: 100%;
      height: auto;
      max-height: 500px !important;
      max-width: 500px !important;
    }
  }
  